[submodule "SwiftSpinner"]
	path = SwiftSpinner
	url = git@github.com:icanzilb/SwiftSpinner.git
[submodule "Alamofire"]
	path = Alamofire
	url = git@github.com:Alamofire/Alamofire.git
[submodule "Reachability"]
	path = Reachability
	url = https://github.com/ashleymills/Reachability.swift
